<!--
        ~ Copyright (c) 2011-Present VMware, Inc. or its affiliates, All Rights Reserved.
        ~
        ~ Licensed under the Apache License, Version 2.0 (the "License");
        ~ you may not use this file except in compliance with the License.
        ~ You may obtain a copy of the License at
        ~
        ~       https://www.apache.org/licenses/LICENSE-2.0
        ~
        ~ Unless required by applicable law or agreed to in writing, software
        ~ distributed under the License is distributed on an "AS IS" BASIS,
        ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
        ~ See the License for the specific language governing permissions and
        ~ limitations under the License.
        -->

<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="system" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/smqtt.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ack" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/ack.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="reactor.netty" level="info"/>
    <logger name="reactor.netty.http.client.HttpClient" level="debug"/>
    <logger name="reactor.netty.channel.FluxReceive" level="info"/>
    <logger name="reactor.netty.http.server.HttpServer" level="debug"/>
    <logger name="io.scalecube.cluster.transport" level="info"/>
    <logger name="io.scalecube.cluster.fdetector" level="info"/>
    <logger name="io.scalecube.cluster.gossip" level="info"/>
    <logger name="io.scalecube.cluster.membership" level="info"/>
    <logger name="io.scalecube.cluster.metadata" level="info"/>
    <logger name="io.scalecube.cluster" level="info"/>
    <logger name="io.scalecube.services" level="info"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="system"/>

    </root>

    <logger name="ack" level="INFO" additivity="false">
        <!-- <appender-ref ref="console" /> -->
        <appender-ref ref="ack"/>
    </logger>


</configuration>