<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>testFile.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="reactor.netty" level="debug"/>
    <logger name="reactor.netty.http.client.HttpClient" level="debug" />
    <logger name="reactor.netty.channel.FluxReceive" level="debug" />
    <logger name="reactor.netty.http.server.HttpServer" level="debug" />
    <logger name="io.scalecube.cluster.transport" level="info"/>
    <logger name="io.scalecube.cluster.fdetector" level="info"/>
    <logger name="io.scalecube.cluster.gossip" level="info"/>
    <logger name="io.scalecube.cluster.membership" level="info"/>
    <logger name="io.scalecube.cluster.metadata" level="info"/>
    <logger name="io.scalecube.cluster" level="info"/>
    <logger name="io.scalecube.services" level="info"/>

    <root level="info">
        <appender-ref ref="stdout"/>
    </root>


</configuration>