<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%level{length=1} %date{MMdd-HHmm:ss,SSS} %logger{1.} %message [%thread]%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="io.netty" level="info"/>
        <Logger name="reactor.netty" level="info"/>
        <Logger name="io.scalecube.cluster.transport" level="info"/>
        <Logger name="io.scalecube.cluster.fdetector" level="info"/>
        <Logger name="io.scalecube.cluster.gossip" level="info"/>
        <Logger name="io.scalecube.cluster.membership" level="info"/>
        <Logger name="io.scalecube.cluster.metadata" level="info"/>
        <Logger name="io.scalecube.cluster" level="info"/>
        <Logger name="io.scalecube.services" level="info"/>

        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>

</Configuration>